@model WebFinance.Models.Wallet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Balance)
            </dd>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsCash)
            </dd>
        </dl>
    </h4>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Uid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
